body {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Correct';
    /* background-color: rgb(116, 114, 224); */
    --x: calc(var(--posX, 0) * 1px);
    --y: calc(var(--posY, 0) * 1px);
    background-image: linear-gradient(90deg, rgb(120, 114, 245) 0%, rgb(58, 58, 146) 0%, rgb(117, 117, 182) 100%), radial-gradient( 90% 100% at calc( 50% + var(--x)) calc( 0% + var(--y)), rgb(92, 58, 146), rgb(155, 55, 158)), radial-gradient(100% 100% at calc( 80% - var(--x)) calc( 0% - var(--y)), rgb(146, 38, 31), rgb(141, 42, 42)), radial-gradient(150% 210% at calc(100% + var(--x)) calc( 0% + var(--y)), rgb(58, 58, 146), rgb(58, 58, 146)), radial-gradient(100% 100% at calc(100% - var(--x)) calc(30% - var(--y)), rgb(58, 58, 146), rgb(58, 96, 146)), linear-gradient(90deg, rgb(43, 38, 133) 0%, rgb(58, 58, 146) 0%, rgb(58, 58, 146) 100%);
    background-blend-mode: overlay, overlay, difference, difference, difference, normal;
}

@font-face {
    font-family: 'Correct';
    src: url(../fonts/Concrete-Regular.otf);
}

.soundBtn {
    position: absolute;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    user-select: none;
}

.video_menu {
    height: 100%;
}

p {
    margin: 0 auto;
    font-size: 60px;
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
}

#container {
    width: 1200px;
    height: 800px;
    background-color: #C0FFFF;
    -webkit-box-shadow: 0px 0px 29px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 29px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 29px 0px rgba(0, 0, 0, 0.2);
    perspective: 600px;
    overflow: hidden;
    border-radius: 1em;
}

#world {
    position: absolute;
    width: inherit;
    height: inherit;
    transform-style: preserve-3d;
}

.square {
    position: absolute;
    background-repeat: repeat !important;
    background-size: 100% !important;
}

#pawn {
    display: none;
    border-radius: 100%;
    position: absolute;
    top: 400px;
    left: 600px;
    background-color: #FF0000;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
}

.menu {
    display: none;
    position: absolute;
    color: #FFF;
    width: inherit;
    height: inherit;
    background-color: rgb(167, 208, 255);
}

.button {
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 900px;
    height: 250px;
    background-color: rgb(114, 166, 224);
    color: #fff;
    cursor: pointer;
    border-radius: 1em;
    transition: all .3s;
    -webkit-box-shadow: 0px 0px 18px 0px rgba(96, 96, 96, 0.2);
    -moz-box-shadow: 0px 0px 18px 0px rgba(96, 96, 96, 0.2);
    box-shadow: 0px 0px 18px 0px rgba(96, 96, 96, 0.2);
}

.button:hover {
    background-color: rgb(92, 137, 189);
}

#button1 {
    top: 300px;
    left: 150px;
}

#button2 {
    bottom: 50px;
    left: 350px;
    width: 500px;
    height: 130px;
}

#button3 {
    top: 500px;
    left: 300px;
    width: 600px;
    height: 190px;
}

#button4 {
    top: 450px;
    left: 150px;
}

.thing {
    box-shadow: 0 0 3px #FFFF00;
    border-radius: 100%;
}

.key {
    box-shadow: 0 0 3px #FF0000;
    border-radius: 100%;
}

.finish {
    box-shadow: 0 0 3px #00FFFF;
    border-radius: 100%;
}

.widget {
    display: none;
    position: absolute;
    background-color: #FFF;
    opacity: 0.7;
    z-index: 99999999;
}

#widget1 {
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100px;
    border-bottom-right-radius: 1em;
}

#widget2 {
    top: 0px;
    right: 0px;
    width: 300px;
    height: 100px;
    border-bottom-left-radius: 1em;
}

#widget3 {
    bottom: 0px;
    left: 0px;
    width: 500px;
    height: 200px;
    background-color: #FF0000;
    border-top-right-radius: 1em;
}

#result {
    top: 260px;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    left: 50%;
    width: 500px;
    height: 200px;
    background-color: rgb(114, 166, 224);
    border-radius: 1em;
}
